<h1 class="text-center bg-gray-200 font-bold p-3 m-3">DESAFIO E-COMMERCE EM ELIXIR</h1>

<div class="text-center pt-3">
<a href="http://localhost:4000/products" class="container-center bg-green-200 font-bold p-3 rounded">ENTRAR</a>
</div>